@media screen and (max-width:768px) {
    nav #logo img{
        height: 2rem;
        position: absolute;
        left: 5%;
        top: 0%;
    }

    /* navbar */
    /* hamburger menu */
    label {
        display: flex;
        flex-direction: column;
        width: 70px;
        cursor: pointer;
    }

    label span {
        background: #fff;
        border-radius: 10px;
        height: 7px;
        margin: 7px 0;
        transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    span:nth-of-type(1) {
        width: 50%;
    }

    span:nth-of-type(2) {
        width: 100%;
    }

    span:nth-of-type(3) {
        width: 75%;
    }

    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"]:checked~span:nth-of-type(1) {
        transform-origin: bottom;
        transform: rotatez(45deg) translate(8px, 0px)
    }

    input[type="checkbox"]:checked~span:nth-of-type(2) {
        transform-origin: top;
        transform: rotatez(-45deg)
    }

    input[type="checkbox"]:checked~span:nth-of-type(3) {

        transform-origin: bottom;
        width: 50%;
        transform: translate(30px, -11px) rotatez(45deg);
    }

    #menu_toggle {
        opacity: 0;
    }

    #menu_toggle:checked~.menu_btn>span {
        transform: rotate(45deg);
    }

    #menu_toggle:checked~.menu_btn>span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu_toggle:checked~.menu_btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu_toggle:checked~.menu_box {
        visibility: visible;
        top: 0;
        left: 0;
    }

    .menu_btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 0.5rem;
        right: 1rem;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    .menu_btn>span, .menu_btn>span::before, .menu_btn>span::after {
        display: block;
        position: absolute;

        width: 100%;
        height: 2px;
        background-color: #dfdcdc;
        transition-duration: .25s;
    }

    .menu_btn>span::before {
        content: '';
        top: -8px;
    }

    .menu_btn>span::after {
        content: '';
        top: 8px;
    }

    .menu_box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: -100%;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 2rem 1rem;
        background-color: #4b023a;
        box-shadow: 1px 10px 10px rgba(0, 0, 0, .7);
        transition: all .25s linear;
    }

    .headings {
        font-size: 2.5rem;
    }

    #resumebutton {
        width: 100%;
    }

    /* PROJECT */
    .galleryitems {
        width: 100%;
        margin-bottom: 2rem;
    }
    .galleryitems a  {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
    .galleryitems a img {
        width: 80%;
        height: auto;
        margin: 0 auto;
    }

    /* About */
    #pic {
        flex-direction: column;
        align-items: center;
    }

    #pic img {
        width: 500px;
        height: 300px;
    }

    #intro h2 {
        text-align: center;
        padding: 10px;
    }

    /* Contact */
    .inputs {
        width: 60%;
    }

    #message {
        width: 60%;
    }

    #send {
        width: 100%;
    }

    /* HOME */

    #headings {
        font-size: 1.5rem;
    }

    /* About */
    #pic img {
        height: 20vh;
        width: auto;
    }

    #intro h2 {
        font-size: 1.3rem;
    }

    /* Projects */
    .gallery img {
        width: 100vw;
        height: auto;
        /* margin: 10px; */
    }

    /* Contact */
    .inputs {
        width: 80%;
    }

    #message {
        width: 80%
    }

    #send {
        width: 30%;
    }
}

@media screen and (max-width:400px) {
    /* HOME SECTION */
    #home img{
        display: none;
    }
    #container{
        width: 100%;
    }

    /* #ABOUT SECTION */
    #send {
        background-color: #F042FC;
        padding: 0.5rem;
}
    /* CERTIFICATES SECTION */
    .links{
        width: 100%;
    }
.slider{
    display: none;
}
}