html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    box-sizing: inherit;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

section {
    width: 80vw;
    margin: auto;
}

h1 {
    margin-top: 2rem;
}

/* NAVIGATOR */

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #4b023a;
    position: fixed;
    top: 0;
    width: 100%;
    height: 2rem;
}

nav #logo img{
    height: 2rem;
    position: absolute;
    left: 16%;
    top: 0%;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    font-size: 1.2rem;
    font-weight: bold;
}

nav ul li a {
    color: #F2F2F2;
    padding: 0px 30px;
    text-decoration: none;
    transition: all 0.5s ease;
}

nav ul li .active_nav {
    color: #ec95ff;
}

nav ul li a:hover {
    color: #ec95ff;
    border-bottom: solid 3px #ec95ff    ;
    border-radius: 5px;
}

.headings {
    color: #5B6AF0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin: 3rem auto 1rem;
}

/* HAMBURGER MENU */
#menu_toggle, .menu_btn {
    display: none;
}

/* HOME SECTION */

#home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

#home img {
    display: block;
    height: 35vw;
    margin-top: 1rem;
    border-radius: 0% 0% 10% 10%;
}

#home p {
    font-size: 1.2rem;
    padding-left: 2rem;
}

#resumebutton {
    width: 35%;
    margin: 2rem auto 0;
    padding: 0.3em;
    background-color: #ad0586d7;
    color: whitesmoke;
    font-size: large;
    border-radius: 1em;
    font-size: 1.3rem;
    font-weight: 700;
}

#resumebutton:hover {
    cursor: pointer;
    box-shadow: 5px 5px 20px 0 #6248cd;
    transition: 0.3s;
}

/* PROJECT SECTION */

#projects {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projectgallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galleryitems {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.galleryitems a img {
    width: 20vw;
    height: 35vh;
    margin: 1rem;
    border-radius: 10%;
    box-shadow: 0 14px 8px 0 rgba(153, 12, 12, 0.2), 0 6px 20px 0 rgba(245, 8, 8, 0.2);
    transition: 0.5s;
    justify-self: center;
}

.galleryitems img:hover {
    box-shadow: 0 14px 16px 0 rgba(126, 10, 10, 0.6), 0 16px 35px 0 rgba(174, 4, 4, 0.45);
}

.cardtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    flex-wrap: wrap;
}

.cardtext h2 {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto;
    color: #AD0586;
}

.apptools {
    font-size: large;
    margin-top: 2rem;
    font-weight: 700;
    color: #242424;
}

/* CERTIFICATES */

.certificates {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 40%;
}

.links a {
    text-decoration: none;
    font-size: medium;
    font-weight: 600;
    color: #2b2b2b;
    margin: 0.5rem;

}

.links a:hover{
    color: #c40808;
}

.slider {
    display: flex;
    height: auto;
    width: 55%;
    list-style: none;
    overflow: hidden;
    scroll-behavior: smooth;
    transition: 0.5s ease-in;
}

.slider li {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider li img {
    width: 100%;
    max-height: 500px;
}

/* ABOUT SECTION */

#about {
    display: flex;
    flex-direction: column;
}

#pic {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;

}

#pic img {
    margin: 0.5rem;
    border-radius:50%;
    height: 40vh;
    width: auto;
}

#introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:left;
    margin: 1rem 2rem;
    font-size: medium;
}

#introduction h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* Contact Section */

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputs {
    padding: 0.3rem 1rem;
    margin: 1rem;
    width: 30%;
    border: none;
    border-bottom: #6e5a6e8b 2px solid;
    outline: none;
}

.inputs+textarea {
    border: 2px solid #6e5a6e8b;
    width: 30%;
    padding: 1rem;
}

#send {
    background-color: #F042FC;
    padding: 0.5rem 2rem;
    margin: 2rem auto 0;
    border: none;
    border-radius: 10px;
    color: white;
    font-size:large;
}

#send:hover {
    cursor: pointer;
    box-shadow: 0 5px 5px black;
    transition: 0.3s;
}

/* FOOTER ICONS */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.footer-icons a {
    display: block;
    margin: 0 1rem;
}

.footer-icons img {
    height: 2rem;
}

footer p {
    font-size: 0.8rem;
}